<% breadcrumb :about %>
<div class = "about_contents">
<div class = "about_breadcrumbs"><%= breadcrumbs pretext: "",separator: " &rsaquo; "%></div>
<h1 class = "about_title">本サイトは</h1>
<p class = "about_text">近年注目されている少ないもので生活を行う「ミニマリスト」が交流を行えるWebサイト
特定の「モノ」に対して各々の考え方を書き込むことで新しい価値観を見出しより豊かなミニマルライフを模索できます。
</p>
<h1 class = "about_title">ミニマリストとは</h1>
<p class = "about_text">
ミニマリスト
持ち物をできるだけ減らし、必要最小限の物だけで暮らす人。自分にとって本当に必要な物だけを
持つことでかえって豊かに生きられるという考え方で、大量生産・大量消費の現代社会において、
新しく生まれたライフスタイルである。「最小限の」という意味のミニマル(minimal)から派生した造語。
物を持たずに暮らす人の意味では、2010年前後から海外で使われるようになり、その後日本でも広まったと見られる。
何を持ち何を持たないかは人それぞれだが、少ない服を制服のように着回したり、一つの物を様々な用途に使ったりするほか、
誰かと共有したり借りたりすることで、自分が所有する物を厳選している点が共通している。
少ない物で豊かに暮らすという考え方自体は、環境問題の深刻化などを背景に以前からあった。
近年は、物だけでなく多くの情報が流通する中で、たくさんの物を手に入れても満たされなかったり、
多くの物に埋もれて必要な物が見えなくなったりして生きづらさを感じる人たちが増え、自分にとって本当に大事な物を見極めて必要な物だけを取り込むことで楽に生きたいと共感が広がっているようだ。
必要な物だけを持つミニマリストの思想は、10年頃から流行した整理法「断捨離(だんしゃり)」などにも通じる考え方と言える。</p>
<h1 class = "about_title">自分の気になる「モノ」と登録してみよう！</h1>
<p class = "about_text">
こちらから登録してみよう<a href='/items/new', class="about_item_new">アイテム登録</a>
</p>
</div>

