<%= link_to 'アイテム追加', '/items/new',class: "item_new" %>
<% @items.each do |item| %>
  <div class="titele">
     <%= link_to item.title, item_path(item.id), class: "content__right__top--title" %>
  </div>
  <div class="image">
    <%= image_tag item.image.url ,size: "188x188", class: "photo" %>
  </div>
  <div class="nickname">
    <%= item.nickname %>
  </div>
<% end %>
