

/* .body {
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
} */
/* main {
  flex: 1;
} */

  footer {
    height: 150px;
    width: 100%;
    background-color: #f4f4f4;
    margin-top: auto;
    /* position: absolute;
    bottom: 0; */
  }
  
  .item_new{
    color: black;
  }

  .footer_content{
    max-width: 780px;
    margin: 0 auto;
  }
.footer_text{
  margin: 0 auto;
  width: 500px;
  padding-top: 40px;
}
  .footer_copy{
  margin: 0 auto;
  width: 400px;
  padding-top: 30px;
    
  }