
.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

  footer {
    height: 60px;
    width: 100%;
    background-color: black;
    margin-top: auto;
  }
  
  .item_new{
    color: black;
  }

