* {
  box-sizing: border-box;
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

.main{
  background-color: whitesmoke;
  height: 100%;
}
.main-contents{
  background-color: white;
  max-width: 760px;
  margin: 0 auto;
}
.item-title{
  font-size: 18px;
  text-decoration: none;
}
.items{
  background-color: white;
  height: 200px;
}
.images__left{
  float: left;
}

.images__right{
  float: left;
  margin-left: 30px;
}
.nickname{
  margin-top: 5px;
}
.item_new{
  text-decoration: none;
  font-size:18px;
}


/* アイテム追加 */

.new-item{
  background-color: white;
  height: 680px;
}


.new-item__name{
  padding-top: 20px;
}

.new-item__nickname{
  padding-top: 20px;
}

.new-item__text{
  padding-top: 20px;
}

.new-item__image{
  padding-top: 20px;
}

.new-item__submit{
  padding-top: 20px;
  margin-bottom: 50px;
}

/* アイテムショー */

.titele{
  font-size:24px;
}

.comment_content{
  padding-top: 10px;
  background-color: white;
}

.comments{
  background-color: white;
  margin-top: 5px 0px 5px 0px;
}
.coment_name{
  font-size: 18px;
}
.coment_text{
  font-size: 18px;
}



.postManage__edit{
  display: inline-block;
  padding: 0.3em 0.7em;
  text-decoration: none;
  background: green;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  margin-top: 10px;
}

.postManage__delete{

  display: inline-block;
  padding: 0.3em 0.7em;
  text-decoration: none;
  background: green;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  margin-left: 15px;
  margin-top: 10px;
}


.comment_name_new{
  margin-top: 50px;
}

.comment_text_new{
  margin-top: 25px;
}
.comment_btn{
  margin-bottom: 50px;
}


/* item_edit */


.title_edit{
  margin-top: 30px;
}

.nickname_edit{
  margin-top: 30px;
}

.text_edit{
  margin-top: 30px;
}
.btn_edit{
  margin-top: 10px;
}

.under-speace{
  height: 330px;
}