header {
  height: 80px;
  width: 100%;
  background-color: black;
  margin: 0;
  padding:0;
  border: none;
  background-image: url("haikei.jpg");
}

h1 {
  color: white;
  font-size:50px;
  margin: 0px;
  font-family:  arial;
}
span{
  font-size:60%;
}



a  {
  color:white;
  float: right;
}


li {
  height: 33%;
  widows: 100px;
}



body {
  margin: 0;
  
}




footer {
  height: 80px;
  width: 100%;
  background-color: black;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
  margin: 0;
  padding:  0;
}

  footer {
    height: 60px;
    width: 100%;
    background-color: black;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
    margin: 0;
    padding:  0;
    background-image: url("haikei.jpg");
  }
  
  .item_new{
    color: black;
  }