<footer>
  <div class="footer_content">
    <div class="footer_text">minimaltalk2のご利用は利用者各位のご判断にお任せしています。</div>
    <div class="footer_copy">©Copyright2020 minimaltalk.All Rights Reserved.</div>
  </div>
</footer>