<header>
  <div class = "header_contents">
    <div class=headerlogo >
      <%= link_to 'minimaltalk', '/',class: "headerlogo" %>
      <span>2</span>
    </div>
    <div class = "nav">
      <%= form_with(url:  search_items_path, local: true, method: :get, class: "search-form") do |form| %>
        <div class = search_form>  
          <%= form.text_field :keyword, placeholder: "キーワードを入力", class: "search" %>
          <%= form.submit "検索", class: "search-btn"%> 
        </div>
        <%end%>
        <a href="/item/about", class="nav_call_a">初めての方へ</a>
        <a href=# class="nav_call_a">問い合わせ</a>
        <% if user_signed_in? %>  
          <a href="#" class="nav_call_a">マイページ</a>
          <a href="/users/sign_out" class="nav_call_a">ログアウト</a>
        <% else %>
        <a href="/users/sign_up" class="nav_call_a">新規登録</a>
        <a href=" /users/sign_in" class="nav_call_a">ログイン</a>
      <%end%>
    </div>
  </div>
</header>