<header>
  <div class = "header_contents">
    <div class=headerlogo >
      <%= link_to 'minimaltalk', '/',class: "headerlogo" %>
      <span>2</span>
    </div>
    <div class = "nav">
      <div class = search_form>  
        <input type = "search"class="search"name="search" placeholder="キーワードを入力"> 
        <input type="submit"class="search_btn" name="submit" value="検索">
      </div>
      <a href="/item/about", class="nav_call_a">初めての方へ</a>
      <a href=# class="nav_call_a">問い合わせ</a>
      <a href=# class="nav_call_a">新規登録</a>
      <a href=# class="nav_call_a">ログイン</a>
    </div>
  </div>
</header>